@import "tailwindcss";

@theme {
  --font-typewriter: 'Courier Prime', 'Courier New', monospace;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.noscrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noscrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}